<h3>Listing products</h3>

<table id="products-table" class="table table-condensed table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a class="btn btn-primary" href="#/new">New Product</a>