<h3>New product</h3>

<form id="new-product" name="product">
  <div class="form-group">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" class="form-control" value="<%= name %>" >
  </div>

  <div class="form-group">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" class="form-control" value="<%= description %>" >
  </div>

  <div class="form-group">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" class="form-control" value="<%= price %>" >
  </div>

  <button type="submit" class="btn btn-success">Create Product</button>
  <a href="#/index" class="btn btn-default pull-right">Back</a>

</form>